@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");
@import url("./function/base.css");
@import url("./layout/common.css");
@import url("./layout/header.css");
@import url("./layout/footer.css");
@import url("./sections/profile.css");
@import url("./sections/works.css");
@import url("./sections/certification.css");
@import url("./sections/skills.css");
@import url("./sections/contact.css");
