@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: "Noto Serif JP", serif;
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: 0.8px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #1ca9e3;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

ul,
li {
  list-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

.section-heading {
  margin-bottom: 20px;
  text-align: center;
}

.heading-primary {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 15px;
  letter-spacing: 0.05em;
}

.section-lead {
  margin-bottom: 30px;
  text-align: center;
}

.wrapper {
  padding-top: 68px;
}

.section {
  padding: 120px 0;
}
.section:nth-of-type(2n) {
  background-color: #f7f7f7;
}

.inner {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 40px;
}

.ios .gnav-link:after,
.ios .gnav-link:hover:after {
  display: none;
}

@media print, screen and (max-width: 767px) {
  body {
    font-size: 0.8rem;
    line-height: 1.7;
  }
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  .section-heading {
    margin-bottom: 20px;
  }
  .heading-primary {
    font-size: 1.4rem;
  }
  .wrapper {
    padding-top: 56px;
  }
  .section {
    padding: 60px 0;
  }
  .section .inner {
    padding: 0 15px;
  }
}

.gnav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
}

.gnav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gnav-item {
  font-size: 1rem;
  padding: 0 24px;
  letter-spacing: 0.05rem;
}

.gnav-link {
  position: relative;
  display: inline-block;
  padding: 20px 0;
  transition: 0.3s;
  color: #333;
}
.gnav-link:hover {
  opacity: 1;
}
.gnav-link:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: 0.3s;
  transform: translateX(-50%);
  background-color: #333;
}
.gnav-link:hover:after {
  width: 100%;
}

@media print, screen and (max-width: 767px) {
  .gnav {
    padding: 15px 0;
  }
  .gnav-item {
    font-size: 0.8rem;
    padding: 2px 15px;
  }
  .gnav-link {
    padding: 0;
  }
  .gnav-link:hover {
    opacity: 1;
  }
  .gnav-link:after {
    display: none;
  }
}

.footer {
  background-color: #1d1d1d;
}
.footer .inner {
  padding: 30px;
}

.copyright {
  font-size: 0.625rem;
  text-align: center;
  color: #8c8c8c;
}

.page-top {
  font-size: 0.75rem;
  font-weight: bold;
  display: block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #ccc;
}

@media print, screen and (max-width: 767px) {
  .footer .inner {
    padding: 20px 0;
  }
}

.profile-inner {
  max-width: 1000px;
}

.profile-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile-image-wrapper {
  flex: 0 0 220px;
  margin-right: 40px;
}

.profile-image {
  border-radius: 50%;
  box-shadow: 0 0 25px 0 #d9d9d9;
  object-fit: cover;
}

.profile-body {
  flex: 1;
}

@media print, screen and (max-width: 767px) {
  .profile-item {
    display: block;
  }
  .profile-image-wrapper {
    width: 100px;
    max-width: 100%;
    margin: 0 auto 20px;
  }
  .profile-body {
    padding: 0 30px;
  }
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  flex: 0 0 48%;
  margin-right: 4%;
  margin-bottom: 40px;
}
.works-item:nth-of-type(2n) {
  margin-right: 0;
}

.works-link {
  display: block;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.works-link .caption {
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  transition: all 0.3s step-end;
}
.works-link:hover .caption {
  visibility: visible;
}
.works-link .caption p {
  font-size: 1.75rem;
  line-height: 250px;
  color: #fff;
  opacity: 0;
}
.works-link:hover .caption p {
  opacity: 1;
}
.works-link .mask1,
.works-link .mask2 {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
}
.works-link .mask1 {
  left: -50%;
}
.works-link:hover .mask1 {
  left: 0px;
}
.works-link .mask2 {
  right: -50%;
}
.works-link:hover .mask2 {
  right: 0px;
}

.works-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.works-text {
  font-size: 1rem;
}

@media print, screen and (max-width: 767px) {
  .works-title {
    font-size: 0.625rem;
  }
  .works-list {
    display: block;
    justify-content: space-between;
  }
  .works-item {
    margin-right: 0;
    margin-bottom: 80px;
  }
  .works-item:last-child {
    margin-bottom: 50px;
  }
  .works-link {
    transition: none;
  }
  .works-link:hover {
    transition: none;
    transform: none;
  }
}

.category {
  margin-bottom: 2rem;
}

.category-title {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 0.5rem;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid #ffcc00;
  display: inline-block;
}

.certificate-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem;
}

.certificate-item {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.2s;
}

.certificate-item:hover {
  transform: scale(1.03);
}

.certificate-name {
  font-weight: bold;
  color: #333;
  font-size: 1rem;
}

.certificate-date {
  color: #999;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill-item {
  flex: 0 0 48%;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 5px #ccc;
  cursor: pointer;
  transition: 0.3s;
}
.skill-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 2px 9px #999999;
}

.skill-title {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
  text-align: center;
  font-size: 1.5rem;
}

.skill-description-list {
  padding-left: 40px;
}

.skill-description-item {
  list-style-type: disc;
}

@media print, screen and (max-width: 767px) {
  .skill-list {
    margin-bottom: 0;
  }
  .skill-item {
    margin-bottom: 35px;
  }
  .skill-title {
    font-size: 1.25rem;
  }
  .skill-description-list {
    padding-left: 20px;
  }
}

.contact-list {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-item {
  width: 50px;
  margin: 0 20px;
  text-align: center;
}

@media print, screen and (max-width: 767px) {
  .contact-item {
    width: 40px;
    margin: 0 10px;
  }
}
