@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");
@import "./function/base";
@import "./layout/common";
@import "./layout/header";
@import "./layout/footer";
@import "./object/profile";
@import "./object/works";
@import "./object/certification";
@import "./object/skills";
@import "./object/contact";
