.footer {
  background-color: #1d1d1d;
}

.footer .inner {
  padding: 1.875rem;
}

.copyright {
  font-size: 0.625rem;
  text-align: center;
  color: #8c8c8c;
}

.page-top {
  font-size: 0.75rem;
  font-weight: bold;
  display: block;
  padding: 0.625rem;
  cursor: pointer;
  text-align: center;
  background-color: #ccc;
}

@media print, screen and (max-width: 767px) {
  .footer .inner {
    padding: 1.25rem 0;
  }
}
