.gnav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
}

.gnav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gnav-item {
  font-size: 1rem;
  padding: 0 1.5rem;
  letter-spacing: 0.03125rem;
}

.gnav-link {
  position: relative;
  display: inline-block;
  padding: 1.25rem 0;
  transition: 0.3s;
  color: #333;
}

.gnav-link:hover {
  opacity: 1;
}

.gnav-link:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: 0.3s;
  transform: translateX(-50%);
  background-color: #333;
}

.gnav-link:hover:after {
  width: 100%;
}

@media print, screen and (max-width: 767px) {
  .gnav {
    padding: 1rem 0;
  }

  .gnav-item {
    font-size: 0.8125rem;
    padding: 0.125rem 1rem;
  }

  .gnav-link {
    padding: 0;
  }

  .gnav-link:hover {
    opacity: 1;
  }

  .gnav-link:after {
    display: none;
  }
}
