.contact-list {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-item {
  width: 50px;
  margin: 0 20px;
  text-align: center;
}

@media print, screen and (max-width: 767px) {
  .contact-item {
    width: 40px;
    margin: 0 10px;
  }
}
