.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill-item {
  flex: 0 0 48%;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 5px #ccc;
  cursor: pointer;
  transition: 0.3s;
}

.skill-item:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 2px 9px rgba(153, 153, 153, 1);
}

.skill-title {
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid #000;
  text-align: center;
  font-size: 1.5rem;
}

.skill-description-list {
  padding-left: 2.5rem;
}

.skill-description-item {
  list-style-type: disc;
}

@media print, screen and (max-width: 767px) {
  .skill-list {
    margin-bottom: 0;
  }

  .skill-item {
    margin-bottom: 2.125rem;
  }

  .skill-title {
    font-size: 1.25rem;
  }

  .skill-description-list {
    padding-left: 1.25rem;
  }
}
