.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  flex: 0 0 48%;
  margin-right: 4%;
  margin-bottom: 40px;
}

.works-item:nth-of-type(2n) {
  margin-right: 0;
}

.works-link {
  display: block;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.works-link .caption {
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  transition: all 0.3s step-end;
}

.works-link:hover .caption {
  visibility: visible;
}

.works-link .caption p {
  font-size: 30px;
  line-height: 250px;
  color: #fff;
  opacity: 0;
}

.works-link:hover .caption p {
  opacity: 1;
}

.works-link .mask1,
.works-link .mask2 {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
}

.works-link .mask1 {
  left: -50%;
}

.works-link:hover .mask1 {
  left: 0;
}

.works-link .mask2 {
  right: -50%;
}

.works-link:hover .mask2 {
  right: 0;
}

.works-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.works-text {
  font-size: 15px;
}

@media print, screen and (max-width: 767px) {
  .works-title {
    font-size: 10px;
  }

  .works-list {
    display: block;
    justify-content: space-between;
  }

  .works-item {
    margin-right: 0;
    margin-bottom: 80px;
  }

  .works-item:last-child {
    margin-bottom: 50px;
  }

  .works-link {
    transition: none;
  }

  .works-link:hover {
    transition: none;
    transform: none;
  }
}
